DATABASE_URL=postgresql://postgres.tgbqcuodyndwagdhqsmt:TP23/24/H/1002@aws-0-eu-west-1.pooler.supabase.com:6543/postgres
SUPABASE_URL=https://tgbqcuodyndwagdhqsmt.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRnYnFjdW9keW5kd2FnZGhxc210Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njk1NDEyOSwiZXhwIjoyMDkyNTMwMTI5fQ.PMdS471rGYYH7WySgiihhGFnLwlG4fLsqbUC4uM1_ow
SUPABASE_JWT_SECRET=b4dd1b90-d787-4d65-8cfb-b19379a17ecf
SUPABASE_STORAGE_BUCKET=academic-resources
UPLOAD_DIR=uploads
